body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
}

.navbar{
    display: flex;
    height: 80px;
    
}

.logo{
    margin-left: 100px;
}

.logo a img{
    height: 75px;
    width: 75px;
}
.menu{
    width: 100%;
    margin-right: 100px;
}

.ul-menu-main{
    margin: 0;
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    height: 100%;
    text-align: center;
    
}

.ul-menu-main li{
    display: block;
    margin-block: auto;
    font-size: 27px;
    color: #645C5C;

}

.ul-menu-main li a{
    text-decoration: none;
    color: #645C5C;
}

.ul-menu-main :hover{
    color: black;
    font-size: 30px;
}


.content{
    background-color: #D8D3D3;
}
.first-look{
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ), url('/projekt_strona/images/smartparking.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin-top:-30px;
}
#first-p{
    color: white;
    font-size: 30px;
    margin-left: 100px;
    padding-top: 100px;
}

#first-h{
    color: white;
    text-align: center;
    font-size: 60px;
    font-weight: 300;
    letter-spacing: 0.5px;
    text-align: center;
    padding-top: 270px;
}

.second-look{
    background-color: #FDF9F9;
    height: 70vh;
}

.second-container{
    margin-left: 200px;
    margin-right: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.second-texts{
    text-align: center;
}

.second-headone{
    font-size: 35px;
    
}
.second-headtwo{
    font-size: 28px;
    margin-top: -40px;
    color: green;
}


.second-icons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 200px;
    font-size: 22px;
}

#phone-icon{
    height: 80px;
    width: 80px;
    margin: 0 auto;
}

#tick-icon{
    height: 80px;
    width: 80px;
    margin: 0 auto;
}

#car-icon{
    height: 80px;
    width: 80px;
    margin: 0 auto;
}
#p-1{
    text-align: center;
}

#p-2{
    text-align: center;
}

#p-3{
    text-align: center;
}

.third-look{
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ), url('/projekt_strona/images/shop1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.third-con{
    margin: 0 200px 0 200px;
    height: 70%;
    letter-spacing: 1px;
    backdrop-filter: blur(2px);
    border: 3px solid white;
    border-radius: 70px;
}


.third-text{
    text-align: center;
    padding: 20px;
    font-size: 30px;
    color: white;
}
#third-two{
    margin-top: -30px;
}
.third-rest{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 200px;
}

.third-rest p{
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.third-rest img{
    margin: 50px auto 0 auto;
    height: 70px;
    width: 70px;
}
.img-1{
    margin-left: auto;
    margin-right: auto;
}
.img-2{
    margin-left: auto;
    margin-right: auto; 
}

.img-3{
    margin-left: auto;
    margin-right: auto;
}
.img-1 :hover{
    transform: scale(1.2)
}
.img-2 :hover{
    transform: scale(1.2)
}
.img-3 :hover{
    transform: scale(1.2)
}

.foot{
    height: 20vh;
    background-color:#F2F2F2;
    
}

footer{
    height: 100%;
    margin-left: 100px;
    margin-right: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 5vh);
}
.foot-text1{
    grid-row: 1/3;
    grid-column: 2/4;
    text-align: center;
    font-size: 25px;
}
.foot-text2{
    grid-row: 3/5;
    grid-column: 2/4;
    text-align: center;
}
.foot-p{
    color: green;
    font-size: 28px;
    font-weight: bold;
}
.foot-p2{
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
}
.socials{
    grid-row: 3/5;
    grid-column: 1/2;
    padding-top: 13px;
}

.socials a img{
    height: 60px;
    width: 60px;
}