body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #FDF9F9;
}

.container{
    display: flex;
    flex-direction: column;
}

.navbar{
    display: flex;
    height: 80px;
    background-color: white;
}

.logo{
    margin-left: 100px;
}

.logo a img{
    height: 75px;
    width: 75px;
}
.menu{
    width: 100%;
    margin-right: 100px;
}

.ul-menu-main{
    margin: 0;
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    height: 100%;
    text-align: center;
    
}

.ul-menu-main li{
    display: block;
    margin-block: auto;
    font-size: 27px;
    color: #645C5C;

}

.ul-menu-main li a{
    text-decoration: none;
    color: #645C5C;
}


.main{
    display: flex;
    flex-direction: column;
    background-color: #FDF9F9;
    margin-bottom: 50px;
}

.text-main{
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../images/empty.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 60vh;
    display: grid;
    grid-template-rows: 90px 1fr 1fr 1fr 15vh;
    grid-template-columns: 200px 1fr 200px;
}

.text-main-title{
    color: white;
    margin: 0 auto;
    font-size: 50px;
    text-align: center;
    grid-row: 2/3;
    grid-column: 2/3;
}
.text-main-text{
    color: white;
    margin-left: 100px;
    width: 50%;
    grid-row:4/5;
    grid-column: 1/4;
    font-size: 23px;
    backdrop-filter: saturate(60%);
    text-align: center;
}

.headline{
    text-align: center;
    font-size: 30px;
}

.leader h2{
    text-align: center;
    border: 1px solid black;
    font-size: 35px;
    height: 120px;
    line-height: 120px;
    background-color: #31A442;
    color: white;
}
.lead-people{
    height: 50vh;
    display: grid;
    grid-template-columns: 150px 1fr 1fr 1fr 1fr 150px;
    /*                    1     2   3   4   5   6     7 */
    grid-gap: 30px;
}

.picture{
    height: 70%;
    text-align: center;
}

.info{
    height: 30%;
    text-align: center;
}
.info-name{
    margin-top: 0;
    font-size: 20px;
    margin-bottom: 10px;
}
.pozition{
    margin-bottom: 5px;
    margin-top: 0;

}
.lead1{
    grid-column: 2/3;
}
.lead2{
    grid-column: 3/4;
}

.lead3{
    grid-column: 4/5;
}

.lead4{
    grid-column: 5/6;
}
.btn-about{
    cursor: pointer;
    color: white;
    background-color: #2FBA6B;
    border: none;
    border-radius: .3em;
    font-weight: bold;
    height: 30px;
}
.btn-about:hover{
    background-color: #31A442;
}
hr{
    height: 1px;
    background-color: #31A442;
    width: 70%;
}
a{
    text-decoration: none;
    color: #3D3C3C;
}
.advert{
    margin-top: 50px;
    background-color: #31A442;
    color: white;
    text-align: center;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.advert h1{
    font-size: 40px;
}
.advert p{
    width: 66%;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    margin-top: 0;
    letter-spacing: 0.5px;
}
#mail{
    color: white;
}
.foot{
    height: 20vh;
    background-color:#F2F2F2;
}
footer{
    height: 100%;
    margin-left: 100px;
    margin-right: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 5vh);
}
.foot-text1{
    grid-row: 1/3;
    grid-column: 2/4;
    text-align: center;
    font-size: 25px;
}
.foot-text2{
    grid-row: 3/5;
    grid-column: 2/4;
    text-align: center;
}
.foot-p{
    color: #31A442;
    font-size: 28px;
    font-weight: bold;
}
.foot-p2{
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
}
.socials{
    grid-row: 3/5;
    grid-column: 1/2;
    padding-top: 13px;
}
.socials a img{
    height: 60px;
    width: 60px;
}


#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .6);
    pointer-events: none;
  }
  
  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
  }
  
.modal.active {
    transform: translate(-50%, -50%) scale(1);
}
  
.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}
  
.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}
  
.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}
  
.modal-body {
    padding: 10px 15px;
}

.modal2.active {
    transform: translate(-50%, -50%) scale(1);
}
  
.modal3.active {
    transform: translate(-50%, -50%) scale(1);
}
   
.modal4.active {
    transform: translate(-50%, -50%) scale(1);
}
 
.modal5.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal6.active {
    transform: translate(-50%, -50%) scale(1);
}
 
.modal7.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal8.active {
    transform: translate(-50%, -50%) scale(1);
}
   
.modal9.active {
    transform: translate(-50%, -50%) scale(1);
}
  
.modal10.active {
    transform: translate(-50%, -50%) scale(1);
}
   
.modal11.active {
    transform: translate(-50%, -50%) scale(1);
}
  
.modal12.active {
    transform: translate(-50%, -50%) scale(1);
}

/* responsywność */
@media (max-width: 1300px){
    .content{
        width: 100%;
    }
    .lead-people{
        height: 100%;
        display: grid;
        grid-template-columns: 20px 1fr 1fr 1fr 1fr 20px;
    }
    
    /* zielone tło */
    .advert p{
        font-size: 22px;
    }
    /* stopka */
    footer{
        height: 100%;
        margin-left: 20px;
        margin-right: 20px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 5vh);
    }
    .foot-text1{
        text-align: right;
        grid-column: 3/5;
    }
    .socials{
        grid-column: 1/2;
        grid-row: 1/3;
    }
    .socials a img{
        height: 50px;
        width: 50px;
    }
    /* stopka */
}

@media (max-width: 900px){

    .content{
        width: 100%;
    }
    /* navbar */
    .navbar{
        height: 80px;
        width: 100%;
        margin: 0;
    }
    .menu{
        height: 100%;
        width: 100%;
        text-align: center;
        margin: 0;
    }

    .ul-menu-main{
        height: 100%;
        display: flex;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .ul-menu-main li{
        margin: 0;
        width: 100%;
        height:  100%;
        font-size: 20px;
    }
    .logo{
        display: none;
    }
    /* navbar */
    
    /* 1 zdjęcie */
    .text-main{
        margin: 0;
    }
    .text-main{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .text-main-title{
        margin: 0;
    }
    .text-main-text{
        margin: 0;
        width: 100%;
    }
    /*  1 rząd */
    .lead-people{
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    
    .advert h1{
        font-size: 26px;
    }
    .advert p{
        margin: 0;
        width: 100%;
        font-size: 18px;
    }
    /* stopka */
    footer{
        height: 100%;
        margin-left: 20px;
        margin-right: 20px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 5vh);
    }
    .foot-p{
        font-size: 20px;
        height: 100%;
        width: 100%;
    }
    .socials{
        grid-column: 1/3;
        grid-row: 1/4;
    }
    /* stopka */
}

@media (max-width: 500px){
    /* navbar */
    .navbar{
        height: 100%;
    }
    .menu{
        height: 100%;
    }
    .ul-menu-main{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    /* obrazki ze wszystkich rzędów */
    .leader img{
        width: 50%;
    }
    
    .advert h1{
        font-size: 15px
    }
    .advert p{
        font-size: 12px;
    }
    /* stopka */
    footer{
        height: 100%;
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    .foot-text1{
        height: 40%;
        text-align: center;
        font-size: 15px;

    }
    .foot-p{
        font-size: 15px;
    }
    .foot-text2{
        height: 20%;
        text-align: center;
        order: 3;
    }
    .foot-p2{
        height: 100%;
        margin: 0;
        padding: 0;
        font-size: 12px;
    }
    .socials{
        height: 40%;
        width: 100%;
        margin: 0 auto;
        order: 2;
        text-align: center;
    }
    .socials a img{
        height: 100%;
        width: 10%;
    }
    /* stopka */
}